<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>

<div class="container">
    <h1 class="text-center"> Stravaganza <small>a simplified strava training log</small>  </h1>
    
    <br><br>

    <h4 class="text-center"> <a href="<%- strava_request_access_url -%>"> Click here to login </a > </h4>

    <br>

    <div class="text-center"><img src="images/running-man.gif" alt="" height="200"> </div>

</div>


<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>
