<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>

<div class="container">
    
	<br><br>

    <h2 class="text-center"> Stravaganza <small>a simplified strava training log</small>  </h1>
    
    <br><br>

    <h3 class="text-center"> <small> <a href=<%- strava_request_access_url -%>> Log in to Strava </a > </small></h3>

</div>


<% include ./partials/footer %>
</body>
</html>
