<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>


<div class="container">

    <div class="row"  id="top">
      
	    <div id="quote" class="col-md-8 col-md-offset-2">
	      
	      <blockquote>
	        <p class="quote-content" id="quote-content">
	        Get going … walk if you have to, but finish the damned race.
	        </p>
	        <footer class="quote-author" id="quote-author"> Ron Hill </footer>

	      </blockquote>

	    </div>

	    <div id="header-buttons" class="col-md-2">
	      <div class="text-right">      
	        <button id="settings-btn" class="btn btn-default">
	          <span class="glyphicon glyphicon-cog"></span>
	        </button>
	      </div>
	    </div>

	</div>

	<div id="calendar-nav">
		
		<button id="scrolltoday-btn" class="btn btn-default">
			Today
		</button>

		<button id="scrolldown-btn" class="btn btn-default">
		  <span class="glyphicon glyphicon-chevron-down"></span>
		</button>


		<button id="scrollup-btn" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</button>

	</div>


	<div id="calendar">

		<p>Rendering calendar ...</p>

	</div>

	<div id="activity-selector" class="text-center">
	  <div class="btn-group"  data-toggle="buttons">
	     <label class="btn btn-primary active">
	     	<input checked="checked" name="activity-type" value="Run" type="radio"> Run
         </label>
         <label class="btn btn-primary">
         	<input name="activity-type" value="Ride" type="radio"> Cycle
         </label>
	  </div>
	</div>


	<div id="error-message">
		
	</div>
	
</div>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>
