<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>


<div class="container">

    <div class="row"  id="top">
      
	    <div id="quote" class="col-md-8 col-md-offset-2">
	      
	      <blockquote>
	        <p class="quote-content" id="quote-content">
	        Get going … walk if you have to, but finish the damned race.
	        </p>
	        <footer class="quote-author" id="quote-author"> Ron Hill </footer>

	      </blockquote>

	    </div>

	    <div id="header-buttons" class="col-md-2">
	      <div class="text-right">      
	        <button id="settings-btn" class="btn btn-default">
	          <span class="glyphicon glyphicon-cog"></span>
	        </button>
	      </div>
	    </div>

	</div>

	<div id="calendar-nav">
		
		<button id="scrolltoday-btn" class="btn btn-primary">
			Today
		</button>

		<button id="scrolldown-btn" class="btn btn-info">
		  <span class="glyphicon glyphicon-chevron-down"></span>
		</button>


		<button id="scrollup-btn" class="btn btn-info">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</button>

	</div>


	<div id="calendar">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error, at iste. Iste ullam sapiente voluptatibus molestias. Autem, aut ad excepturi sunt nobis aliquid voluptates iure accusamus laborum possimus molestiae corporis eligendi voluptate impedit numquam tempora dolor cum exercitationem suscipit. Aliquam dicta provident officia obcaecati, totam iure dolor culpa magni. Odit est quaerat, mollitia dolorem. Cumque natus unde sit sed rem aperiam, veniam, voluptatibus magnam ratione corporis beatae qui adipisci reiciendis neque sapiente. Rem, accusantium. Repudiandae, eos exercitationem quae quidem, amet, cumque fugiat laborum doloremque ipsa sequi maxime et asperiores quod reiciendis similique eum magnam. Reiciendis odio labore rerum eveniet?</p>

	</div>


	<div id="activity-selector" class="text-center">
	  <div class="btn-group" role="group" aria-label="..."">
	      <button type="button" class="btn btn-default">Run</button>
	      <button type="button" class="btn btn-default">Ride</button>
	  </div>
	</div>


</div>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>
