<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>


<div class="container">

    <div class="row justify-content-md-center"  id="top">
      
	    <div id="quote" class="col-7">
	      
	      <blockquote>
	        <p class="quote-content" id="quote-content">
	        Get going … walk if you have to, but finish the damned race.
	        </p>
	        <footer class="quote-author" id="quote-author"> Ron Hill </footer>

	      </blockquote>

	    </div>

	</div>

	<div id="settings-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
    		
    		<div class="modal-content">
			
				<div class="modal-header">
					<h5 class="settings-modal-title">Settings</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div id="settings-units">
						Units&nbsp;
						<div class='btn-group'  data-toggle='buttons'>
						<label class='btn btn-primary btn-sm active'>
							<input checked='checked' name='settings-units-input' value='Imperial' type='radio'> Imperial
						</label>
						<label class='btn btn-primary btn-sm'>
							<input name='settings-units-input' value='Metric' type='radio'> Metric
						</label>
						</div>
					</div>
				</div>

<!-- 			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-secondary">Save changes</button>
			</div>
 -->

			</div>

	    </div>

	</div>

	<div id="calendar-nav">
		
		<button id="scrolltoday-btn" class="btn btn-secondary">
			Today
		</button>

		<button id="scrolldown-btn" class="btn btn-secondary">
			<span class="fa fa-caret-down" aria-hidden="true"></span>
		</button>


		<button id="scrollup-btn" class="btn btn-secondary">
			<span class="fa fa-caret-up" aria-hidden="true"></span>
		</button>

		<a id="settings-btn" class="btn btn-secondary pull-right" role="button"
		   data-toggle="modal" data-target="#settings-modal">
		   <span class="fa fa-cog" aria-hidden="true"></span>
	    </a>

	</div>


	<div id="calendar">
		
		<br>
		<center> <h3>Fetching activities and rendering ...</h3> </center>
		<br>

	</div>

	<div id="activity-selector" class="text-center">
	  <div class="btn-group"  data-toggle="buttons">
	     <label class="btn btn-sm btn-primary active">
	     	<input checked="checked" name="activity-selector-input" value="Run" type="radio"> Run
         </label>
         <label class="btn btn-sm btn-primary">
         	<input name="activity-selector-input" value="Ride" type="radio"> Cycle
         </label>
	  </div>
	</div>


	<div id="error-message">
		
	</div>
	
</div>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>
