<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>


<div class="container">

    <div class="row justify-content-md-center"  id="top">
      
	    <div id="quote" class="col-7">
	      
	      <blockquote>
	        <p class="quote-content" id="quote-content"></p>
	        <span class="quote-author" id="quote-author"></span>
	      </blockquote>

	    </div>

	</div>


	<div id="calendar-nav">
		
		<button id="scrolltoday-btn" class="btn btn-secondary">
			Today
		</button>

		<button id="scrolldown-btn" class="btn btn-secondary">
			<span class="fa fa-caret-down" aria-hidden="true"></span>
		</button>


		<button id="scrollup-btn" class="btn btn-secondary">
			<span class="fa fa-caret-up" aria-hidden="true"></span>
		</button>

		<a id="settings-btn" class="btn btn-secondary pull-right" role="button"
		   data-toggle="modal" data-target="#settings-modal">
		   <span class="fa fa-cog" aria-hidden="true"></span>
	    </a>

	</div>


	<div id="calendar">
		
		<br>
		<center> <h3>Fetching activities and rendering ...</h3> </center>
		<br>

	</div>

	<div id="activity-selector" class="text-center">
		<div class="btn-group"  data-toggle="buttons">
			<label class="btn btn-sm btn-primary active">
				<input checked="checked" name="activity-selector-input" value="Run" type="radio"> Run
			</label>
			<label class="btn btn-sm btn-primary">
				<input name="activity-selector-input" value="Ride" type="radio"> Cycle
			</label>
		</div>
	</div>


	<div id="error-message">
		
	</div>


	<!-- MODALS GO HERE -->

	<div id="activityadd-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
		
		<div class="modal-dialog" role="document">
    		<div class="modal-content">
			
				<div class="modal-header">
					<h5 class="settings-modal-title">Add new activity</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

				<form id="activityadd-form" class="form-horizontal" role="form" method="POST">
				
					<div class="form-group">
						<label class="col-sm-2" for="activityadd-name">Name</label>
						<div class="col-sm-10">
							<input name="name" type="text" class="form-control" placeholder="" required="true" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2" for="activityadd-description">Description</label>
						<div class="col-sm-10">
							<input name="description" type="text" class="form-control" placeholder=""/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2" for="activityadd-distance">Time</label>
						<div class="col-sm-4">
							<select name="time" class="form-control">
								<option value="0" > 12 AM</option>
								<option value="1" > 1 AM </option>
								<option value="2" > 2 AM </option>
								<option value="3" > 3 AM </option>
								<option value="4" > 4 AM </option>
								<option value="5" > 5 AM </option>
								<option value="6" > 6 AM </option>
								<option value="7" > 7 AM </option>
								<option value="8" > 8 AM </option>
								<option value="9" > 9 AM </option>
								<option value="10"> 10 AM </option>
								<option value="11"> 11 AM </option>
								<option selected value="12"> 12 PM </option>
								<option value="13"> 1 PM  </option>
								<option value="14"> 2 PM  </option>
								<option value="15"> 3 PM  </option>
								<option value="16"> 4 PM  </option>
								<option value="17"> 5 PM  </option>
								<option value="18"> 6 PM  </option>
								<option value="19"> 7 PM  </option>
								<option value="20"> 8 PM  </option>
								<option value="21"> 9 PM  </option>
								<option value="22"> 10 PM </option>
								<option value="23"> 11 PM </option>
					        </select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2" for="activityadd-distance">Distance</label>
						<div class="col-sm-9 input-group">
							<input name="distance" type="number" class="form-control" placeholder="" step="0.01" min="0" />
							<select name="distance_units" class="form-control">
								<option selected value="Miles" > Miles </option>
								<option value="Km" > Km  </option>
					        </select>
						</div>							
					</div>

					<div class="form-group">
						<label class="col-sm-4" for="activityadd-duration">Duration</label>
						<div class="col-sm-9 input-group">
							  <input name="duration_hr" type="number" class="form-control" value="0" step="1" min="0">
							  <span class="input-group-addon">hr</span>
							  <input name="duration_min" type="number" class="form-control" value="0" step="1" min="0" max="59">
							  <span class="input-group-addon">min</span>
							  <input name="duration_sec" type="number" class="form-control" value="0" step="1" min="0" max="59">
							  <span class="input-group-addon">sec</span>
						</div>
					</div>
					


					</div>


					<div class="form-group">
						<div class="col-sm-2">
							<button  type="submit" id="activityadd-submit" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</form>

				</div>			
			</div>
	    </div>
	</div>

	<div id="settings-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
    		<div class="modal-content">
			
				<div class="modal-header">
					<h5 class="settings-modal-title">Settings</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div id="settings-units">
						Units&nbsp;
						<div class='btn-group'  data-toggle='buttons'>
						<label class='btn btn-primary btn-sm active'>
							<input checked='checked' name='settings-units-input' value='Imperial' type='radio'> Imperial
						</label>
						<label class='btn btn-primary btn-sm'>
							<input name='settings-units-input' value='Metric' type='radio'> Metric
						</label>
						</div>
					</div>
				</div>
		

				<div class="modal-footer">
					<div id="settings-logout">
							<a class="btn btn-link" href="/logout"> Log Out </a>
							<!-- <button type="button" class="btn btn-sm btn-secondary">Save changes</button> -->
						</div>
				</div>
			</div>
	    </div>
	</div>

	
</div>

<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>
