/* Main document elements */

html {
  height: 100% /* Fix to ensure entire window is covered by background with no repeats*/;
}

body {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

    /*background-image: url("http://orig03.deviantart.net/b91a/f/2015/259/a/0/mountain_minimalist_by_amdpastrana-d99tigk.jpg");*/
    background-image: url("/images/bg.jpg");
    background-size: cover;
}

.footer {
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    width: 100%;
    mix-blend-mode: difference;
    color: #fff;
}

/* Block quote mod. Creds to https://codepen.io/maxds/pen/DcveB */

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  position: relative;

  /*Font*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  
  /*Borders - (Optional)*/
  /*
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  */
  
  /*Box Shadow - (Optional)*/
  
  -moz-box-shadow: 2px 2px 15px #a6a6a6;
  -webkit-box-shadow: 2px 2px 15px #a6a6a6;
  box-shadow: 2px 2px 15px #a6a6a6;
  
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:  5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}


#calendar-nav{
  width: 900px;
  text-align: center;
  line-height: 1.65;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
}

#calendar{
  margin: 0.5em auto;
  width: 900px;


}


#activity-selector{
    margin: 1em auto; 
}


/* Shared elements */

.btn-secondary{
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #fff;
    border-width: 1px;
    color: #000;
    border-color: #4762b2;
}

.btn-primary{
    background-color: #ffffff;
    color: #000;
    border-color: #668cff;
}

.btn-primary:hover{
  background-color: #5172d6;
}

.btn-primary.active{
    background-color: #668cff;
}

.btn-primary.active:hover{
  background-color: #5172d6;
}



/* Calendar Elements */


  /*Cells*/

  [class*="cal-cell"] {
    float: left;
    margin-left: 0;
    min-height: 1px;
    width: 12%;

  }

  .cal-cell-info {
    /*height: 100px;*/
    float: left;
    text-align: center;
    margin-left: 0;
    padding-top: 12px;
    width: 16%;
    border-right: 1px solid #999;
  }

  .cal-body .cal-cell-info {
    height:100px;
  }

  .cal-cell-day {
    height: 100px;
    border-left: 1px solid #e1e1e1;
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }

  .cal-cell-head {
    text-align: center;
    border: 0px solid;
    padding: 5px 0;

    min-height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-size: 16px;
    font-weight: normal;
    color: #fff;
  }

  /* Elements inside cells */

  .cal-innercell-week_range {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

  .cal-innercell-total_week_distance {
    font-size: 16px;
    font-weight: normal;
    color: #999;
  }

  .cal-innercell-total_week_elevation {
    font-size: 16px;
    font-weight: normal;
    color: #999;
  }

  .cal-innercell-1of1acts {
    background-color: #668cff;
    width: 60px;
    height: 60px;
    margin: 18px 24px 0px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    
    /* Shadow generated with cssmatic.com */
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.7);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.7);

    padding-top: 20px;
    text-align: center;
  }

  .cal-innercell-1of2acts {
    position:absolute;

    background-color: #668cff;
    width: 52px;
    height: 52px;
    margin: 32px 40px 0px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    
    /* Shadow generated with cssmatic.com */
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);

    padding-top: 16px;
    padding-left: 4px;
    text-align: center;
  }


  .cal-innercell-2of2acts {
    position:absolute;
    
    background-color: #668cff;
    width: 52px;
    height: 52px;
    margin: 4px 10px 0px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    
    /* Shadow generated with cssmatic.com */
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.7);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.7);

    padding-top: 16px;
    text-align: center;
  }

  .cal-innercell-morelabel {
    position: absolute;
    bottom: 0;
    left: 5px;
    text-align: center;
    color: #999;
  }

  .cal-innercell-morelabel:hover {
    text-decoration: underline;
  }

  /* Mouse hover triggers */

  .cal-cell-day:hover {
    background-color: #ffcbad;
  }

  .cal-body .cal-row:hover {
    /*background-color: #ededed;*/

    background-color: #ededed;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

  }
  
  /* Rows */
  
  .cal-head.cal-row {
    background-color: #668cff;
    padding: 2px;
    border-radius: 15px 15px 0px 0px;
    border: 1px #000;
  }

  .cal-body .cal-row {
    border-bottom: 1px solid #e1e1e1;
    margin-left: 0px;
    margin-right: 0px;
  }

  .cal-body .cal-row-today {
    background-color: #ffe3d3;
  }

  /* Body */

  .cal-body {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 1px;
  
    background-color: #fff;
  }

  /* Pseudo elements */

  .cal-row:before,
  .cal-row:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .cal-row:after{
    clear: both;
  }

  /* Popover */

  .popover-main{
    padding-left: 5px;
    padding-right: 5px;
    max-height: 150px;
    overflow: auto;
  }